# Ignore everything in this vault by default...
/*

# ...except the files we want to publish
!/cam-17-1-1-interactive.html
!/cam-17-2-1-guided.html
!/cam-17-2-2-guided.html
!/cam-17-2-3-guided.html
!/cam-18-1-1-interactive.html
!/writing-task-1-natural-process.html
!/writing-task-1-butterfly-life-cycle.html
!/writing-task-1-bee-life-cycle.html
!/writing-task-1-brick-manufacturing.html
!/writing-task1-line-graph-metals-guided.html
!/writing-task1-bar-chart-waste-guided.html
!/writing-task1-pie-chart-devices-guided.html
!/writing-task1-table-underground-guided.html
!/writing-task1-mixed-charts-water-guided.html
!/writing-task1-mixed-pie-table-nationality-guided.html
!/writing-task1-map-library-guided.html
!/listening-cam-12-1-2-guided.html
!/Cam12-Test2-Section1.mp3
