# Ignore everything in this vault by default...
/*

# ...except the files we want to publish
!/cam-17-1-1-interactive.html
!/cam-18-1-1-interactive.html
!/writing-task-1-natural-process.html
!/writing-task-1-butterfly-life-cycle.html
!/writing-task-1-bee-life-cycle.html
